MONGODB_URI=mongodb://localhost:27017/mynewdb
AUTH_SECRET=7CHXxsnnV5+PTPeTnaSla4VtN60ZeX60ZH+wl69ROcRuWA9jBXOx5qwCycY=

JWT_SECRET=mHCcYmGN6vJrUr1eErcs9kWRtWvB7KylZCf1RSNf9Zrae5FY77/4s98w6F0=
JWT_REFRESH_SECRET=S0dbdEFMdxNsEeyU8YCsiRdgSxgx2r0xghzg6BxdwtNl/fURieTzqNLu7SI=
JWT_ACCESS_EXPIRATION=15m
JWT_REFRESH_EXPIRATION=7d
ADMIN_INVITE_TOKEN=6449128

GEMINI_API_KEY=VuW/Lq3EpLenwis3a/ejZ3rT4Kt9xgJ460zywrD4FXY=
DEEPSEEK_API_KEY=sk-DvMlOM6fj0STBTUTgKn5j31Vx3TOdoOjrzra+F8QCqk=
DEEPSEEK_API_URL=https://api.deepseek.com/v1/chat/completions
